/*======GLOBAL======*/

body {
	font-family: arial; 
	color: #333;
	max-width:1200px;
	margin: 0 auto;
}
footer {
	text-align: center;
	color: #222;
	font-size: .9em;
}

@media screen and (min-width: 560px) {

footer {
	font-size: 3vmin;
	padding: 10px 0 15px 0;
}
}

.row:before,
.row:after, 
.clear {
    content: " "; /* 1 */
    display: table; /* 2 */
    clear: both;
}

/*=======NAV======*/

header {
	background: #fff;
	display:block;
	width:100%;
	float:left;
}
ul {
	float: right;
	margin: 0 0; 
	display: inline-block;
	padding: 10px 0;
	border-bottom:1px solid #fff;
	color:#ff4447;
}
.nav-item {
	display: inline-block;
	padding: 0 10px;
	font-size: 1em;
}

@media screen and (min-width: 480px) {
.nav-item {
	padding: 5px 15px;
	font-size: 3.5vmin;
}
}

/*======HOME PAGE=======*/

.home-page {
	max-width: 1200px;
	padding: 0 5% 10% 5%;
	background-image: url("images/bg-pic.jpg");
	background-repeat:no-repeat;
	background-size: cover;
}
#intro {
	padding-top:8%;
}
.intro1 {
	font-size: 10vmin;
	padding: 40px 1% 10px 1%;
}
.intro2 {
	font-size: 7vmin;
	padding: 0 1% 5% 1%;
}
.fa {
	font-size:14vmin;
	padding: 10px;
	color:#ff4447;
	transition: .2s;
}
.fa:hover, 
.fa:active,
.fa:focus {
	color:#ffa6a7;
}
.social {
	border: 5px solid #fff;
	max-width: 18vmin;
	text-align: center;
	margin: 20px 0 10px 0;
	border-radius: 5px;
}
a,
a:visited {
	color:#ff4447;
	transition: 0.2s;
	text-decoration: none;
}
a:hover,
a:active,
a:focus {
	color:#ffa6a7;
}

/*=======ABOUT PAGE=======*/

.container-about {
	margin: 0 0px;
	padding: 80px 20px 20px 20px;
	background-image: url("images/bg-pic.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: left;
}
.bio {
	border-radius: 50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width: 200px;
}
.about-head,
.projects-head {
	padding-bottom: 10px;
	text-align: center;
	}
.about-text {
	font-size:1em;
	line-height:1.5;
	padding-bottom:20px;
	max-width: 900px;
	margin: 0 auto;
}

@media screen and (min-width: 480px) {
.about-text {
	font-size:1.3em;
	line-height:1.5;
	padding-bottom:30px;
}
.container-about {
	padding: 100px 20px 540px 20px;
	background-position: center;
}
}
@media screen and (min-width: 800px) {
.about-head, 
.projects-head {
	font-size:3em;
}
.about-text {
	font-size:1.5em;
	line-height:1.5;
	padding-top: 20px;
	width:100%;
}
.container-about {
	padding: 130px 20px 540px 20px;
}
}

/*=======PROJECTS PAGE=====*/

.container-projects {
	padding: 50px 0px 0;
	background-image: url("images/bg-plain.jpg");
	background-repeat:repeat;
	background-size: 100%;
	background-position: top left;
	border: solid 1px #efefef;
}

h3 {
	font-size: 1.5em;
	color: #ff4447;
	text-align: center;
	padding: 15px;
	margin:0;
}
h4 {
	font-size: 1em;
	line-height: 1.2;
	text-align: center;
	padding:10px;
	margin:0;
}

@media screen and (min-width: 400px) {
h3 {
	font-size: 2em;
	padding: 30px;
}
}
.tag {
	padding-bottom: 30px;
}
.img-port {
	width: 100%;
	height: auto;
	float:left;
	overflow: hidden;
}
img {
	height: 400px;
}
.text-box {
display:none;
}

button {
 	display: inline;	
	font: bold 1.3em;
	text-decoration:none;	
	background-color:transparent;
	height: 80px;
	width: 250px;
	transition: .3s;
	margin-bottom: 50px;
}
.project-link {
	font-weight: bold;
	color: #ff4447;
	border: #ff4447 2px solid;
}
.project-link a {
	padding:50px 69px;
}
.project-link:hover,
.project-link:active {
	text-decoration: none;
	transition: 0.2s;
	border:#ffa6a7 2px solid;
}

@media screen and (min-width: 760px) {
.container-projects {
	padding: 80px 0 0px 0;
}
.projects-head {
	padding:50px 0;
}
h3 {
	font-size: 2em;
	color: #ff4447;
/*	padding:50px 0;*/
}
h4 {
	font-size: 1.2em;
	padding:10px 100px;
/*	line-height: 1.8;*/
}

img {
	height: 400px;
}
.text-box {
	width: 50%;
	height:400px;
	float:left;
	margin: 0 0 ;
	text-align: center;
	background: #fff;
	display: block;
}
.project-link {	
	display: inline-block;
	font: bold 1.3em;
	color: #ff4447;
	border: #ff4447 2px solid;
	transition: .3s;
	padding: 30px 60px;
	text-decoration:none;
	margin-top: 20px;
}
.project-link:hover,
.project-link:active {
	text-decoration: none;
	transition: 0.2s;
	border:#ffa6a7 2px solid;
}
.img-port {
	width:50%;
	float:left;
	height: 400px;
	overflow: hidden;
}
}

/*=====PROJECTS OVERLAY====>*/

@media screen and (max-width: 760px) {
.effects .img {
  position: relative;
  float: left;
  overflow: hidden;
}

.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 460px) {
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
}
}
.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(256, 256, 256, 0.8);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #bfbfbf;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  text-align: center;
  color: #ff4447;
  line-height: 1;
  font-weight: 700;
  font-size: 1.2em;
}
a.expand:hover {
	text-decoration: underline; 
}

.effects .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
.effects .overlay a.expand {
  left: 0;
  right: 0;
  bottom: 30%;
  margin: 0 auto -30px auto;
}
.effects .img.hover .overlay {
  height: 100%;
}
