


/*======GLOBAL======*/

body {
	font-family: arial; 
	font-size: 3vmin;
	margin: 0 0;
	color: #222;
	max-width:1200px;
	margin: 0 auto;
}

footer {
	text-align: center;
}


.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    clear: both;
}

h1 {
	font-size: 3em;
}


/*=======NAV======*/

header {
	background: #fff;
	display:block;
	width:100%;
	float:left;
}
ul {
	float: right;
	margin: 0 0; 
	display: inline-block;
	padding: 20px 0;
	border-bottom:1px solid #fff;
}
.nav-item {
	display: inline-block;
	padding: 0 10px;
}



/*======HOME PAGE=======*/


.home-page {
	max-width: 1200px;
	padding: 0 5% 10% 5%;
	background-image: url("images/bg-pic.jpg");
	background-repeat:no-repeat;
	background-size: cover;
/*	background-position: left bottom;
*/}

#intro {
	padding-top:8%;
}
.intro1 {
	font-size: 10vmin;
}
.intro2 {
	font-size: 6vmin;
}
.intro1, 
.intro2 {
	padding: 3% 1%;
}
.fa {
	font-size:14vmin;
	padding: 10px;
	color:#ff4447;
}
.social {
	border: 5px solid #fff;
	max-width: 18vmin;
	text-align: center;
}
a {
	color:black;
	transition: 0.3s;
	text-decoration: none;
}
a:hover,
a:active,
a:focus {
	color:red;

}

/*=======ABOUT PAGE=======*/

.bio {
	border-radius: 50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width: 200px;
	text-align: center;
	vertical-align: middle;
}






/*=======PROJECTS PAGE=====*/

.page-header {
	padding-top:50px;
}
.tag {
	padding-bottom: 30px;
}
.img-resp {
	width:100%;
	float:left;
}
.text {
	width:100%;
	float:left;
}

.project-link {
	font-weight: bold;
}
.project-link:hover,
.project-link:active {
	text-decoration: underline;
	transition: 0.2s;
}
/*=======MEDIA QUERIES======*/


/*Tablets and desktops*/

@media screen and (min-width: 760px) {

.img-resp {
	width:50%;
	float:left;
}
.text {
	padding-left: 2%;
	width: 48%;
	float: left;
}
}